body {
	margin: 0;
	/*background: url("imgs/Background.png") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;*/
}

.header {
	width: 100%;
	height: 260px;
	background-color: rgb(27,27,27);
}

.footer {
	width: 100%;
	background-color: rgb(27,27,27);
	padding: 12px 0px;
	position: inherit;
	margin-top: 120px;
}

.centerimg {
	width: 24%;
	margin: auto;
	display: block;
	position: relative;
	left: 2%;
}

.left {
	position: absolute;
	top: 240px;
	left: 8%;
	width: 25%;
	height: fit-content;
	padding-bottom: 20px;
	display: block;
	background-color: rgba(200, 200, 200, .6);
	max-width: 320px;
}

#bio {
	margin: 10px;
}

.right {
	position: inherit;
	top:280px;
	margin-left: 35%;
	height: fit-content;
	width: 60%;
	display: block;
	
}



h1 {
	color: rgba(255,255,255, .9);
	text-align: center;
	font-size: xxx-large;
	font-family: Merriweather;
}

h3 {
	font-size: xx-large;
	font-family: Merriweather;
	margin-bottom: 0px;
}

h4 {
	font-size: large;
	font-family: Merriweather;
	margin-bottom: 0px;
}

h5 {
	color: rgba(255,255,255, .9);
	text-align: center;
	font-size: small;
	font-family: Merriweather;
}